.layout_header{
    min-height: 64px;
    color: black;

    font-size:large;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: __Montserrat_656221,__Montserrat_Fallback_656221;
    font-style: normal;
    backdrop-filter: blur(10px); 
}
.layout_header a{
    display: inline-block;
    text-decoration: none;
    padding: 0.571429em 0.92857143em;
    transition: color 0.1s ease;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0.5em 0.5em;
    position: relative;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}

.layout_header a:hover:before{
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(1);
}

.main{
    padding-top: 10px;
   
}
.layout_header a:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    opacity: .8;
    background-color: var(--sweep-color);
    transform: scaleX(0);
    color: white;
    transform-origin: left;
    transition: transform 0.5s ease;
} 
.layout_header a:hover{
    
    cursor: pointer;
    color: white;
}  
/* .divider {
    position: fixed;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 64px 0 0.8em !important;
    top:64px;
    line-height: 1;
    height: 0;
} */
.layout_header a.active {
    border-radius: 10px;
    background-color: var(--sweep-color);
    opacity: 1;
    transform: scaleX(1);
    color: white;
}
.mobileHeader{
    display: none;
}

@media (max-width:700px){
    .desktopHeader{
        display: none;
    } 
    /* .layout_header a:nth-child(1){
    display: block;
    } */
    .layout_header{
        position: sticky;
        width: 100%;
    
    }
    .main{
        margin-top: 20px;
    }
    .mobileHeader{

        display: grid;
        background-color: transparent;
        width:100%;
        text-align: center;
        overflow: hidden;
        grid-template-rows: 1fr repeat(6,0);
    }
    .hamber{
        margin: 20px 20px 20px auto;
    
   }
   .hamber:hover{
       cursor: pointer;
   }
   .mobileHeader.active{

    background-color: white;
    grid-template-rows: 1fr repeat(6,0fr);
   }
   .mobileHeader.active a{
    margin: 0;
    border-radius: 0;
   }   
   .mobileHeader.active a:before{
    z-index: 0;
    border-radius: 0;
   }
   .layout_header a:hover{
    color:var(--sweep-color); ;
    opacity: 1;
   }
   .mobileHeader.active a:hover::before{
    transform-origin: left;
    transform: scaleX(.01);
   }

   

}