.para{
    margin:  auto;
    margin-bottom: 200px;
    max-width: 800px;
    color: black;
    padding: 30px;
    font-weight: 300;                                                                                                                                                                                                                                                                                          
    font-size: 1em;
    line-height: 1.38em;
    box-shadow: rgba(192, 196, 199, 0.48) 6px 2px 16px 0px;
    background-color: aliceblue;
}
.ulList{
    list-style-type:circle;
    margin: 10px;
}